# .env.example — Plantilla (commitear)
NEXT_PUBLIC_SUPABASE_URL=https://ktagbbmrgfeywpomvypy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0YWdiYm1yZ2ZleXdwb212eXB5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyMzE3NjksImV4cCI6MjA4OTgwNzc2OX0.hXhMflsvUsvuWxkRVVYefnL0MAROdUIzdR4cBKa5o8k
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0YWdiYm1yZ2ZleXdwb212eXB5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDIzMTc2OSwiZXhwIjoyMDg5ODA3NzY5fQ.tT7KixXq152GI2LN79K7AirjF3-JZkvsxUTHZFWAsUo
NEXT_PUBLIC_SITE_URL=http://localhost:3000